/* umum */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Lucida Grande";
}

a {
  text-decoration: none;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
}

.btn:hover {
  opacity: 1;
}

.fa {
  margin-right: 5px;
}

.heading {
  padding-top: 80px;
  padding-bottom: 50px;
  color: #5f5d60;
}

.heading h2 {
  font-weight: normal;
}



/* header (Muh Agus Faris) */

header {
  height: 65px;
  width: 100%;
  background-color: rgba(245, 203, 92, 0.9);
  /* Change the position property to fixed, and top property to 0 */
  position:fixed;
  top:0;
  
  /* Change the z-index property to 10 */
  z-index:10;
}

.logo {
  width: 60px;
  margin-top: 5px;
}

.Corps{
  float:right;
  margin-top:25px;
  color:black;
}



.header-left {
  float: left;
}

.header-right {
  float: right;
  background-color: rgba(245,203,92, 0.5);
  transition: all 0.5s;
}

.header-right:hover {
  background-color: rgba(51, 053, 51, 0.5);
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: White;
  display: block;
}

.header-right1 {
  float: right;
  background-color: rgba(245,203,92, 0.5);
  transition: all 0.5s;
}

.header-right1:hover {
  background-color: rgba(51, 053, 51, 0.5);
}

.header-right1 a {
  line-height: 65px;
  padding: 0 25px;
  color: White;
  display: block;
}

.header-right2 {
  float: right;
  background-color: rgba(245,203,92, 0.5);
  transition: all 0.5s;
}

.header-right2:hover {
  background-color: rgba(51, 053, 51, 0.5);
}

.header-right2 a {
  line-height: 65px;
  padding: 0 25px;
  color: White;
  display: block;
}

.signintwitter{
  float:right;
}

.signintwitter img{
  width:32px;
  height:32px;
  padding-top:17px;
  padding-bottom:12px;
}

.signinfb{
  float:right;
}

.signinfb img{
  width:32px;
  height:32px;
  padding-top:17px;
  padding-right:10px;
  padding-bottom:12px;
}



/* main (top wrapper) (Galuh Permatasari) */

.top-wrapper {
  padding: 180px 0 100px 0;
  background-image: url(https://prog-8.com/images/html/advanced/top_en.png);
  background-size: cover;
  color: white;
  text-align: center;
}

.top-wrapper h1 {
  opacity: 0.7;
  font-size: 45px;
  letter-spacing: 5px;
  margin-bottom: 10px;
}

.top-wrapper p {
  opacity: 0.7;
  margin-bottom: 3px;
}

.btn-wrapper {
  text-align: center;
  margin: 20px 0;
}

.btn-wrapper p {
  margin: 10px 0;
}

.signup {
  background-color: #239b76;
}

.facebook {
  background-color: #3b5998;
  margin-right: 10px;
}

.twitter {
  background-color: #55acee;
}



/* main (content wrapper) (Maulidiansyah) */

.clear {
  clear: left;
}

.lesson-wrapper {
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #f7f7f7;
  text-align: center;
}

.lesson {
  float: left;
  width: 25%;
}

.lesson-icon {
  position: relative;
}

.lesson-icon p {
  position: absolute;
  top: 44%;
  width: 100%;
  color: white;
}

.text-contents {
  width: 80%;
  display: inline-block;
  margin-top: 15px;
  font-size: 15px;
  color: #b3aeb5;
}



/* main (contact/message wrapper) (Farhan Arrahman) */


.heading h3 {
  font-weight: normal;
}

.message-wrapper {
  border-bottom: 1px solid #eee;
  padding-bottom: 80px;
  text-align: center;
}

.message {
  padding: 15px 40px;
  background-color: #5dca88;
  cursor: pointer;
  box-shadow: 0 7px #1a7940;
}

.message:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}

input, textarea {
  width: 400px;
  margin-top: 5px;
  margin-bottom: 15px;
  padding: 10px;
  font-size: 18px;
  border: 1px solid #dee7ec;
}

.message-wrapper p {
  font-size: 15px;
}

.contact-submit {
  background-color: #f5cb5c;
  color: white;
  transition: all 0.5s;
}

.contact-submit:hover {
    cursor: pointer;
    background-color: #333533;
}

img#fixedbutton {
    position: fixed;
    bottom: 0px;
    right: 0px; 
    width: 5%;
    margin: 10px 10px;

   -webkit-animation: bounce 1s infinite;
}

p#fixedbutton {
    position: fixed;
    bottom: 0px;
    right: 0px; 
    width: 5%;
    margin: 65px 50px;
    color: black;

   -webkit-animation: bounce 1s infinite;
}

@-webkit-keyframes bounce {
  0% {
    transform: scale(1,1) translate(0px, 0px);
  }
  
  50%{
    transform: scale(1,1) translate(0px, -14px); 
  }

  100%{
    transform: scale(1,1) translate(0px, 0px); 
  }

}



/* footer (Gigih Ridho) */

footer img {
  width: 125px;
}

footer p {
  color: #b3aeb5;
  font-size: 12px;
}

footer {
  padding-top: 30px;
  padding-bottom: 20px;
}
